{%-assign url = include.image | trim | remove: '.png' | remove: '.jpg'-%}
    {% capture webp %}{{url}}.webp{% endcapture %}
<div class="box-strip{%if include.dark==true%} box-strip--dark{%endif%}{%if include.image.size>0%} box-strip--image" style="--bs-background: url('{{include.image}}');--bs-background-webp: url('{{webp}}')"{%else%}"{%endif%}>
    <div class="container">
        <div class="box-strip__wrapper">
            <div class="box-strip__inner scrollwatch">
                <div class="box-strip__corners box-strip__corners--top"></div>
                <h3 class="box-strip__text">{{include.text}}</h3>
                <div class="box-strip__corners box-strip__corners--bottom"></div>
            </div>
        </div>
    </div>
</div>