<div class="case-studies">
    <div class="container">
        <div class="case-studies__wrapper">
            <h2 class="case-studies__title">Case Studies</h2>
            <div class="case-studies__list">
                {% for case in site.data.case_studies.items %}
                <div class="case-studies__list-item{%if forloop.index == 1%} active" {%else%}" style="display:none;"
                    {%endif%} data-index="{{forloop.index0}}">
                    <div class="case-studies__overlay-top" style="background-color: #{{case.colour_primary}}"></div>
                    <div class="case-studies__overlay-bottom" style="background-color: #{{case.colour_secondary}}">
                    </div>
                    <div class="case-studies__list-item-inner">
                        <h3 class="case-studies__list-item-title">{{case.title}}</h3>
                        {% include picture.html url=case.image alt=case.title class="case-studies__list-item-image" %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="case-studies__buttons">
                <div class="case-studies__prev"></div>
                <div class="case-studies__next"></div>
            </div>
            <div class="case-studies__nav">
                {% for i in (1..{{site.data.case_studies.items.size}})%}
                <div class="case-studies__nav-item{%if i == 1%} active{%endif%}" data-index="{{i | minus: 1}}"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>