<form class="form">
    <fieldset>
        <div class="form__field-wrapper">
            <div class="form__field field">
                <input name="email" id="email" type="email" class="field__input" />
                <label class="field__label" for="email">Email address</label>
            </div>
            <div class="form__field field">
                <input name="name" id="name" type="text" class="field__input" />
                <label class="field__label" for="name">Name</label>
            </div>
            <div class="form__field field">
                <input name="company_name" id="company_name" type="text" class="field__input" />
                <label class="field__label" for="company_name">Company name</label>
            </div>
            <div class="form__field field">
                <input name="find_us" id="find_us" type="text" class="field__input" />
                <label class="field__label" for="find_us">How did you find us?</label>
            </div>
            <div class="form__field field field--long">
                <textarea name="message" id="message" class="field__input field__input--textarea"></textarea>
                <label class="field__label" for="message">Message</label>
            </div>
        </div>
    </fieldset>
</form>