<div class="contact-strip">
    <div class="container">
        <div class="contact-strip__wrapper">
            <div class="contact-strip__col">
                <h3>Get in touch</h3>
            </div>
            <div class="contact-strip__col">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac efficitur diam. Aenean commodo
                    venenatis turpis, vel vehicula nibh pellentesque at. In ut dui et nibh blandit laoreet. Vivamus
                    interdum blandit felis, nec consectetur lacus gravida id. Sed eleifend quam quis justo vulputate
                    porttitor. Donec ac ultrices dui. Vestibulum egestas sem ut nulla elementum laoreet. Cras commodo
                    lorem sed gravida scelerisque. Aenean dignissim urna vitae metus mattis fringilla.</p>
            </div>
        </div>
    </div>
</div>