<div class="featured-work">
    <div class="featured-work__strip">
        <div class="container">
            <div class="featured-work__strip-wrapper">
                <div class="featured-work__title-wrapper">
                    <h2 class="featured-work__title">Brief</h2>
                </div>
                <div class="featured-work__content">
                    {{include.brief | markdownify }}
                </div>
            </div>
        </div>
    </div>
    <div class="featured-work__strip">
        <div class="container">
            <div class="featured-work__strip-wrapper">
                <div class="featured-work__title-wrapper">
                    <h2 class="featured-work__title">Strategy</h2>
                </div>
                <div class="featured-work__content">
                    {{include.strategy | markdownify }}
                </div>
            </div>
        </div>
    </div>
    {% include image-strip.html image=page.strip_image text=page.quote%}
    <div class="featured-work__strip">
        <div class="container">
            <div class="featured-work__strip-wrapper">
                <div class="featured-work__title-wrapper">
                    <h2 class="featured-work__title">Campaign</h2>
                </div>
                <div class="featured-work__content">
                    {{include.campaign | markdownify }}
                </div>
            </div>
        </div>
    </div>
    <div class="featured-work__strip">
        <div class="container">
            <div class="featured-work__strip-wrapper">
                <div class="featured-work__title-wrapper">
                    <h2 class="featured-work__title">Performance</h2>
                </div>
                <div class="featured-work__content">
                    {{include.performance | markdownify }}
                </div>
            </div>
        </div>
    </div>
</div>