<div class="features-list">
    <div class="container">
        <h1 class="features-list__title">Featured work</h1>
        <div class="features-list__list">
            {% for item in site.data.features %}
            <div class="features-list__item">
                <a class="features-list__item-inner" href="/features/{{item.title|slugify}}">
                    <div>
                        <div class="features-list__item-image">
                            {% include picture.html url=item.logo %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>