<script src="{{ "/js/bundle.js" | relative_url }}" async></script>
<script>
    if (document.createStyleSheet) {
        document.createStyleSheet("/assets/css/bootstrap.css");
        document.createStyleSheet("/assets/css/default.css");
        document.createStyleSheet("/assets/css/{{include.layout}}.css");
        document.createStyleSheet("https://use.typekit.net/pxi8tmz.css");
    } else {
        var stylesheet_bs = document.createElement('link');
        stylesheet_bs.href = "/assets/css/bootstrap.css";
        stylesheet_bs.rel = 'stylesheet';
        stylesheet_bs.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(stylesheet_bs);

        var stylesheet_default = document.createElement('link');
        stylesheet_default.href = "/assets/css/default.css";
        stylesheet_default.rel = 'stylesheet';
        stylesheet_default.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(stylesheet_default);

        var stylesheet_layout = document.createElement('link');
        stylesheet_layout.href = "/assets/css/{{include.layout}}.css";
        stylesheet_layout.rel = 'stylesheet';
        stylesheet_layout.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(stylesheet_layout);


        var stylesheet_font = document.createElement('link');
        stylesheet_font.href = "https://use.typekit.net/pxi8tmz.css";
        stylesheet_font.rel = 'stylesheet';
        stylesheet_font.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(stylesheet_font);
    }


</script>

<noscript>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="https://use.typekit.net/pxi8tmz.css">
</noscript>