<div class="header{%if include.light%} header--light{%endif%}" id="header_bar">
    <div class="container">
        <div class="header__wrapper">
            <a class="header__logo" href="/"><img src="/images/logo.svg" alt="{{site.title}}"/></a>
            <div class="header__menu-icon">
                <span class="header__menu-icon-inner"></span>
                <span class="header__menu-icon-inner"></span>
                <span class="header__menu-icon-inner"></span>
            </div>
        </div>
    </div>
</div>
{%include menu.html %}