<div class="home-panel">
    <div class="home-panel__curve">{% include quarter.svg %}</div>
    <div class="container">
        <div class="home-panel__wrapper">
            <h1 class="home-panel__title">An incubation & acceleration partner for disruptive brands.</h1>
            <p class="home-panel__content">{{site.title}} is focused on early and mid stage companies with a difference.
                Our approach is to help founders build, develop and launch social and digital brands and marketplaces within the lifestyle, e-commerce, MARTECH and gaming sectors with limited risk by mitigating the marketing costs.</p>
            <p class="home-panel__content">Currently accelerating The Clubhouse, MEWE Global, LifeSOS, Raize Gaming, ZIP15, EcoSteam and more&hellip;</p>
        </div>
    </div>
</div>