<div class="menu">
    <div class="menu__close">
        <div class="container">
            <div>Close</div>
        </div>
    </div>
    <nav class="menu__nav">
        <ul class="menu__nav-list">
            <li class="menu__nav-item"><a href="/" class="menu__nav-link">Home</a></li>
            <li class="menu__nav-item"><a href="/about" class="menu__nav-link">About us</a></li>
            <li class="menu__nav-item"><a href="/expertise" class="menu__nav-link">Expertise</a></li>
            <li class="menu__nav-item"><a href="/brands" class="menu__nav-link">Brands</a></li>
            <li class="menu__nav-item"><a href="/features" class="menu__nav-link">Features</a></li>
            <li class="menu__nav-item"><a href="/contact" class="menu__nav-link">Contact</a></li>
        </ul>
    </nav>
    <div class="menu__content">
        <address class="menu__address">{{site.title}}<br>{{site.address}}</address>
        <a href="mailto:{{site.email}}" class="menu__email">{{site.email}}</a>
        <p class="menu__links">
            <a href="/privacy-notice">Privacy notice</a>
            <a title="Facebook" href="{{site.facebook_url | absolute_url}}" target="_blank"
                rel="external noopener">Fb</a>
            <a title="Twitter" href="{{site.twitter_url | absolute_url}}" target="_blank" rel="external noopener">Tw</a>
            <a title="Instagram" href="{{site.instagram_url | absolute_url}}" target="_blank"
                rel="external noopener">Ig</a>
            <a title="LinkedIn" href="{{site.linkedin_url | absolute_url}}" target="_blank"
                rel="external noopener">Li</a>
        </p>
    </div>
</div>