<div class="panel panel--do">
    <div class="panel__content">
        <div class="container">
            <h2>What we do</h2>
        </div>
    </div>
    <div class="container">
        <div class="panel__list">
            <div class="panel__list-item">
                <a href="/content">Content</a>
            </div>
            <div class="panel__list-item">
                <a href="/strategy">Strategy</a>
            </div>
            <div class="panel__list-item">
                <a href="/technology">Technology</a>
            </div>
            <div class="panel__list-item">
                <a href="/creative">Creative</a>
            </div>
        </div>
    </div>
    <div class="panel__link-wrapper">
        <div class="container"><a href="/what-we-do" class="panel__link">Find out more</a></div>
    </div>
</div>