<section class="stats-strip strip split-content-strip">
    <div class="container">
        <div class="stats-strip__title-wrapper scrollwatch">
            <h3 class="stats-strip__title">Less talk, more action – we put our money where your results are</h2>
        </div>
        <div class="stats-strip__subtitle-wrapper scrollwatch">
            <p class="stats-strip__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis velit
                sit
                amet faucibus posuere. Etiam ipsum nulla, euismod tincidunt hendrerit non, condimentum non quam.</p>
        </div>
        <div class="stats-strip__list scrollwatch">
            <div class="stats-strip__item">
                <h3 class="stats-strip__item-title">50 years'</h3>
                <p class="stats-strip__item-text">performance experience</p>
            </div>
            <div class="stats-strip__item">
                <h3 class="stats-strip__item-title">10,000+</h3>
                <p class="stats-strip__item-text">campaigns <span>delivered</span></p>
            </div>
            <div class="stats-strip__item">
                <h3 class="stats-strip__item-title">1.5 Million</h3>
                <p class="stats-strip__item-text">new customers generated</p>
            </div>
            <div class="stats-strip__item">
                <h3 class="stats-strip__item-title">£350 Million</h3>
                <p class="stats-strip__item-text">client ROI</p>
            </div>
        </div>
    </div>
</section>