<section class="stats-strip strip split-content-strip">
    <div class="container">
        <div class="stats-strip__title-wrapper scrollwatch">
            <h3 class="stats-strip__title">Less talk, more action – we put our money where your results are</h2>
        </div>
        <div class="stats-strip__subtitle-wrapper scrollwatch">
            <p class="stats-strip__subtitle">The concept of performance marketing couldn't be more straightforward. We
                put campaigns in place, and you only pay us when specific actions happen – they could be sales, leads,
                meeting requests, enquiries or more. So it's 100% transparent and 100% clear to you where your money is
                going – only ever on the results that matter. </p>
            <p class="stats-strip__subtitle"><strong>It's in those results that the value of Zuru comes to the
                    fore.</strong></p>

            <p class="stats-strip__subtitle">We don't work on possibilities, probabilities or promises. We work on
                evidence. Hard, fast, irrefutable evidence that you're seeing maximum return on your marketing spend.
                And translating it into bottom-line impact for your business.</p>
        </div>
        <div class="stats-strip__list scrollwatch">
            <div class="stats-strip__item">
                <h3 class="stats-strip__item-title">50 years'</h3>
                <p class="stats-strip__item-text">performance experience</p>
            </div>
            <div class="stats-strip__item">
                <h3 class="stats-strip__item-title">10,000+</h3>
                <p class="stats-strip__item-text">campaigns <span>delivered</span></p>
            </div>
            <div class="stats-strip__item">
                <h3 class="stats-strip__item-title">1.5 Million</h3>
                <p class="stats-strip__item-text">new customers generated</p>
            </div>
            <div class="stats-strip__item">
                <h3 class="stats-strip__item-title">£350 Million</h3>
                <p class="stats-strip__item-text">client return on investment</p>
            </div>
        </div>
    </div>
</section>