<div class="team-strip">
    <div class="container">
        <div class="team-strip__wrapper">
            <div class="team-strip__list">
                <h3 class="team-strip__list-title">{{site.title}} team</h3>
                {% for person in site.data.team %}
                <a href="#" class="team-strip__list-item" data-index="{{forloop.index}}">{{person.name}}</a>
                {% endfor %}
            </div>
            <div class="team-strip__content">
                {% for person in site.data.team %}
                <div class="team-strip__person" data-index="{{forloop.index}}">
                    <!-- <div class="team-strip__person-image">{% include picture.html url=person.image alt=person.name%}
                    </div> -->
                    <h3 class="team-strip__person-name">{{person.name}}</h3>
                    <div class="team-strip__person-content">{{person.desc | markdownify }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>