<section class="team-strip strip split-content-strip">
    <div class="container">
        <div class="team-strip__title-wrapper scrollwatch">
            <h3 class="team-strip__title">The {{site.title}} management team</h3>
        </div>
        <div class="team-strip__subtitle-wrapper scrollwatch delay">
            <p class="team-strip__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec mollis velit
                sit
                amet faucibus posuere. Etiam ipsum nulla, euismod tincidunt hendrerit non, condimentum non quam.</p>
        </div>
    </div>
    <div class="team-strip__list-outer">
        <div class="container">
            <div class="team-strip__list">
                <div class="team-strip__item">
                    <div class="team-strip__item-inner">
                        <h3 class="team-strip__item-title">Ben Harvey</h3>
                        <div class="team-strip__item-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut dignissim nisl.
                                Pellentesque
                                tempor
                                et nisi vitae aliquet. Quisque elit urna, viverra ut gravida sit amet, molestie in elit.
                                Sed
                                vehicula molestie lectus, ac viverra massa volutpat sed. Vestibulum tristique risus a
                                enim
                                congue,
                                sollicitudin fringilla orci placerat.</p>
                            <p>Phasellus tristique, massa nec posuere volutpat,
                                ligula
                                mauris
                                imperdiet erat, eu commodo est turpis sit amet erat. Etiam ornare tristique malesuada.
                                Etiam
                                ullamcorper tempor accumsan. Nullam quis consectetur odio, in euismod neque. </p>
                        </div>
                    </div>
                </div>
                <div class="team-strip__item">
                    <div class="team-strip__item-inner">
                        <h3 class="team-strip__item-title">James Copeland-Eccles</h3>
                        <div class="team-strip__item-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut dignissim nisl.
                                Pellentesque
                                tempor
                                et nisi vitae aliquet. Quisque elit urna, viverra ut gravida sit amet, molestie in elit.
                                Sed
                                vehicula molestie lectus, ac viverra massa volutpat sed. Vestibulum tristique risus a
                                enim
                                congue,
                                sollicitudin fringilla orci placerat.</p>
                            <p>Phasellus tristique, massa nec posuere volutpat,
                                ligula
                                mauris
                                imperdiet erat, eu commodo est turpis sit amet erat. Etiam ornare tristique malesuada.
                                Etiam
                                ullamcorper tempor accumsan. Nullam quis consectetur odio, in euismod neque. </p>
                        </div>
                    </div>
                </div>
                <div class="team-strip__item">
                    <div class="team-strip__item-inner">
                        <h3 class="team-strip__item-title">Marc Suggars</h3>
                        <div class="team-strip__item-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut dignissim nisl.
                                Pellentesque
                                tempor
                                et nisi vitae aliquet. Quisque elit urna, viverra ut gravida sit amet, molestie in elit.
                                Sed
                                vehicula molestie lectus, ac viverra massa volutpat sed. Vestibulum tristique risus a
                                enim
                                congue,
                                sollicitudin fringilla orci placerat.</p>
                            <p>Phasellus tristique, massa nec posuere volutpat,
                                ligula
                                mauris
                                imperdiet erat, eu commodo est turpis sit amet erat. Etiam ornare tristique malesuada.
                                Etiam
                                ullamcorper tempor accumsan. Nullam quis consectetur odio, in euismod neque. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>