<section class="team-strip strip split-content-strip">
    <div class="container">
        <div class="team-strip__title-wrapper scrollwatch">
            <h3 class="team-strip__title">Your key {{site.title_short}} players</h3>
        </div>
        <div class="team-strip__subtitle-wrapper scrollwatch delay">
            <p class="team-strip__subtitle">The marketing world is full of people with impressive CVs. But few have the
                entrepreneurial drive to match their great-on-paper expertise. Not so with {{site.title}}.</p>

            <p class="team-strip__subtitle">Boasting the strongest credentials in the performance marketing business,
                we’re still as hungry as we
                were from our earliest
                days, with your success our ultimate, ever-present motivation.</p>
        </div>
    </div>
    <div class="team-strip__list-outer">
        <div class="container">
            <div class="team-strip__list">
                <div class="team-strip__item">
                    <div class="team-strip__item-inner">
                        <div class="team-strip__item-image scrollwatch">
                            {% include picture.html url="/images/ben.jpg" alt="Ben Harvey" %}
                        </div>
                        <h3 class="team-strip__item-title">Ben Harvey</h3>
                        <div class="team-strip__item-desc">
                            <p>Having cut his teeth in the white-hot media world of the late 90s, Ben is renowned
                                throughout the industry as a high-flying marketing leader with real commercial bite.</p>
                            <p>He’s held top positions at the biggest names in the business. Accumulated media spends in
                                excess of £500 million at unprecedented rates. And delivered the disruptive rocket the
                                marketing landscape needed in 2009, founding Virtuoso Advertising, one of the UK’s first
                                performance-based digital agencies – sending it soaring into the top 10 independent
                                agencies in just its first year of trading.</p>
                            <p>Following a successful sale of the business to Zeta Global, he helped the newly evolved
                                company grow to a valuation of over $1 billion and become one of the world’s largest
                                privately owned digital technology businesses.</p>
                            <p><a href="https://www.linkedin.com/in/benpharvey" rel="external noopener"
                                    target="_blank">LinkedIn</a></p>
                        </div>
                    </div>
                </div>
                <div class="team-strip__item">
                    <div class="team-strip__item-inner">
                        <div class="team-strip__item-image scrollwatch">
                            {% include picture.html url="/images/james.jpg" alt="James Copeland-Eccles" %}
                        </div>
                        <h3 class="team-strip__item-title">James Copeland-Eccles</h3>
                        <div class="team-strip__item-desc">
                            <p>PepsiCo, Peugeot, Carlsberg, Logitech and many more. They’ve all seen their performance
                                boosted, bolstered and brought bang up to date thanks to the specialist skills and
                                sharp-edged marketing savvy that James brings to the table.</p>
                            <p>Joining Ben early on in the success story at Virtuoso, he was also a key part of the
                                international expansion at Zeta Global, forging a formidable partnership that remains
                                the envy of the performance marketing world today.</p>
                            <p>By the end of 2012 Virtuoso was dominating the market place and was successfully sold to
                                Zeta Global. James then took on the role of Vice President of Zeta Global's performance
                                marketing divisions. Over the next 3 years increased growth helped them achieve a
                                valuation of over USD1 billion and remain one of the world's largest privately owned
                                digital technology companies.</p>
                            <!-- <p>Whether it’s working with the brightest new brands or longest-established industry
                                leaders, James has built his reputation on in-depth audience intelligence and an innate
                                understanding of the complete marketing mix. And having managed budgets that stretch
                                from £50,000 to £10 million, no-one is more adept at making every element of your
                                campaigns work together for scalable success.</p> -->
                            <p><a href="https://www.linkedin.com/in/jameseccles" rel="external noopener"
                                    target="_blank">LinkedIn</a></p>
                        </div>
                    </div>
                </div>
                <div class="team-strip__item">
                    <div class="team-strip__item-inner">
                        <div class="team-strip__item-image scrollwatch">
                            {% include picture.html url="/images/marc.jpg" alt="Marc Suggars" %}
                        </div>
                        <h3 class="team-strip__item-title">Marc Suggars</h3>
                        <div class="team-strip__item-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut dignissim nisl.
                                Pellentesque
                                tempor
                                et nisi vitae aliquet. Quisque elit urna, viverra ut gravida sit amet, molestie in elit.
                                Sed
                                vehicula molestie lectus, ac viverra massa volutpat sed. Vestibulum tristique risus a
                                enim
                                congue,
                                sollicitudin fringilla orci placerat.</p>
                            <p>Phasellus tristique, massa nec posuere volutpat,
                                ligula
                                mauris
                                imperdiet erat, eu commodo est turpis sit amet erat. Etiam ornare tristique malesuada.
                                Etiam
                                ullamcorper tempor accumsan. Nullam quis consectetur odio, in euismod neque. </p>

                            <p>Phasellus tristique, massa nec posuere volutpat,
                                ligula
                                mauris
                                imperdiet erat, eu commodo est turpis sit amet erat. Etiam ornare tristique malesuada.
                                Etiam
                                ullamcorper tempor accumsan. Nullam quis consectetur odio, in euismod neque. </p>
                            <p><a href="https://www.linkedin.com/in/marc-suggars" rel="external noopener"
                                    target="_blank">LinkedIn</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>