<div class="what-people-say">
    <div class="container">
        <h1>What people say about us</h1>
        <div class="reviews-list">
            {% for review in site.data.reviews.items %}
            {% if forloop.index < 5 %}
            <div class="reviews-list__review">
                <div class="reviews-list__review-inner">
                    <p class="reviews-list__review-text">{{review.text}}</p>
                    <p class="reviews-list__review-author">Written by: <strong>{{review.by}}</strong></p>
                </div>
            </div>
            {% endif %}
            {%endfor%}
        </div>
    </div>
</div>