.about-panel {
  background: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__title {
    flex: 0 1 100%;
    background-size: cover;
    background-position: bottom right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 30px;
    font-size: 400px;
    line-height: 1.2;
    font-weight: 400;
    opacity: 0;
    animation: hp-fade-in 0.5s ease-in-out 0.5s;
    animation-fill-mode: forwards;
    font-family: $font_primary;
    background-image: linear-gradient(
      75deg,
      rgba(254, 205, 235, 1) 0%,
      rgba(9, 9, 121, 1) 45%,
      rgba(51, 221, 255, 1) 100%
    );
  }
  &__subtitle {
    flex: 0 1 100%;
    font-size: 60px;
    animation: hp-fade-in 0.5s ease-in-out 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-weight: 600;
    margin: 0 0 100px;
    color: #959494;
  }
  &__content {
    flex: 0 1 50%;
    opacity: 0;
    animation: hp-fade-in 0.5s ease-in-out 1.2s;
    animation-fill-mode: forwards;
  }
  @include in_size($sm-only) {
    &__title {
      font-size: 240px;
    }
    &__subtitle {
      font-size: 53px;
    }
  }
  @include in_size($mobile) {
    &__content {
      flex: 0 1 100%;
    }
  }
  @include in_size($xxs) {
    &__title {
      font-size: 110px;
    }
    &__subtitle {
      font-size: 50px;
    }
  }
}

@keyframes hp-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
