.box-strip {
  padding: 80px 0;
  background: #fff;
  text-align: center;
  &__wrapper {
    margin: 0 auto;
    @include in_size($md) {
      max-width: 65%;
    }
  }
  &__inner {
    position: relative;
    padding: 70px 80px;
    &.scrolled {
      .box-strip {
        &__corners {
          opacity: 1;
        }
      }
    }
  }
  &__text {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
  }
  &__corners {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.6s ease-in-out 1s;
    &--top {
      top: 0;
      &:before {
        content: url("/images/box_corner.svg");
      }
      &:after {
        content: url("/images/box_corner.svg");
        transform: rotate(90deg);
      }
    }
    &--bottom {
      bottom: 0;
      &:before {
        content: url("/images/box_corner.svg");
        transform: rotate(-90deg);
      }
      &:after {
        content: url("/images/box_corner.svg");
        transform: rotate(180deg);
      }
    }
  }
  &--image {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.72;
      mix-blend-mode: multiply;
    }
  }
  &--dark {
    background: $colour_primary;
    color: #fff;
  }
}
