.brands-strip {
  background: #fff;
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
    flex: 0 1 (100% / 6);
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.12s;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
  }
  &__title {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    flex: 0 1 40%;
    padding-right: 100px;
    line-height: 1.2;
    display: flex;
    color: $colour_med_grey;
    &:before {
      content: "";
      width: 24px;
      height: 44px;
      display: inline-block;
      background: url("/images/link_arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 10px 20px 0 0;
    }
  }
  &__text {
    flex: 0 1 60%;
    padding-left: 50px;
    font-weight: 300;
    font-size: 26px;
  }
  &__subtitle {
    color: $colour_med_grey;
    a {
      text-decoration: none;
      font-weight: 500;
      transition: color 0.2s ease-in-out 0s;
      &:hover {
        color: $colour_dark_grey;
      }
    }
  }
  img,
  picture {
    max-width: 100%;
  }
  @include in_size($xxs) {
    &__item {
      flex: 0 1 50%;
      padding: 0 10px;
    }
  }
}
