.case-studies {
  position: relative;
  padding: 100px 0;
  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__title {
    color: #fff;
    font-size: 130px;
    line-height: 1;
    font-weight: 600;
    transform: rotate(-90deg);
    z-index: 2;
    margin: 0;
    position: absolute;
    left: 0;
    top: 160px;
    width: 430px;
  }
  &__list {
    min-height: 420px;
    flex: 0 1 66%;
    padding-left: 50px;
    &-item {
      &-inner {
        position: relative;
        z-index: 2;
      }
      &-title {
        color: #fff;
        font-size: 60px;
        margin: 0 0 25px;
      }
      &-image {
        max-width: 100%;
        img {
          max-width: 100%;
        }
      }
    }
  }
  &__overlay {
    &-top,
    &-bottom {
      position: absolute;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: 1;
    }
    &-top {
      top: 0;
    }
    &-bottom {
      bottom: 0;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/wave-flip.png");
        mix-blend-mode: luminosity;
        background-size: cover;
        background-position: bottom center;
      }
    }
  }
  &__nav {
    display: flex;
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 3;
    &-item {
      flex: 0 1 20px;
      height: 20px;
      border: 1px solid #fff;
      transition: all 0.2s ease-in-out 0s;
      cursor: pointer;
      width: 20px;
      min-width: 20px;
      margin: 0 5px;
      border-radius: 50%;
      &.active {
        background: #fff;
      }
    }
  }
  &__buttons {
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 33%;
    margin-left: 100px;
    z-index: 2;
  }
  &__prev,
  &__next {
    flex: 0 1 40px;
    height: 40px;
    min-width: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: 0 5px;
    cursor: pointer;
  }
  &__prev {
    background-image: url("/images/prev.svg");
    background-position: 7px center;
  }
  &__next {
    background-image: url("/images/next.svg");
    background-position: 12px center;
  }
  &__nav,
  &__buttons {
    transition: opacity 0.4s ease-in-out 0s;
    &.block {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  @include in_size($sm-only) {
    &__title {
      top: 130px;
      font-size: 100px;
      left: -80px;
    }
    &__list {
      flex: 0 1 75%;
    }
  }
  @include in_size($xs) {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__title {
      transform: none;
      position: static;
      width: 100%;
      font-size: 60px;
    }
    &__list {
      flex: 0 1 100%;
      padding: 50px 0 0;
      &-item {
        &-title {
          font-size: 40px;
        }
      }
    }
    &__buttons {
      left: 50px;
      margin-left: 0;
    }
  }
}
