.contact-form-strip {
  min-height: 100vh;
  padding-top: 100px;
  .typeform-widget {
    border: none;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
  }
  &__title {
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    font-family: $font_primary;
    font-weight: 400;
  }
  &__content {
    color: #fff;
  }
  &--pitch {
    .typeform-widget {
      top: 250px;
      height: calc(100% - 250px);
    }
  }
}

.body--contact {
  background: #000;
  .header {
    background: $colour_dark_grey;
  }
}
