body {
  background-color: $colour_primary;
  transition: background-color $body_transition;
  &.fade-out {
    .body-wrapper {
      opacity: 0;
    }
  }
}
.menu {
  opacity: 0;
}

picture,
img {
  max-width: 100%;
}
