body {
  background-color: $colour_primary;
  transition: background-color $body_transition;
  &.fade-out {
    .body-wrapper {
      opacity: 0;
    }
  }
}
.menu {
  opacity: 0;
}

picture,
img {
  max-width: 100%;
}

.header-image {
  min-height: 100vh;
  &___title {
    opacity: 0;
  }
}

html.webp {
  .header-image {
    &__bg {
      background: var(--background-webp);
    }
  }
}
html:not(.webp) {
  .header-image {
    &__bg {
      background: var(--background);
    }
  }
}
