body {
  background: $colour_primary;
}

.header {
  display: none;
}

.header-image {
  height: 100vh;
  &__wave,
  &__text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.2s;
  }
  &__text {
    transition-delay: 1s;
  }
}
