@import "fonts.scss";

html {
  font-family: $font_primary;
  font-weight: $font-weight_light;
  font-size: 20px;
  line-height: 1.2;
}

h4,
h5,
h6 {
  font-family: $font_primary;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: $font_secondary;
  line-height: 1;
}

a {
  color: inherit;
}

.strip {
  padding: 50px 0;
  display: inline-block;
  width: 100%;
}

.button {
  background: #291d7f;
  color: #fff;
  border: none;
  font-family: $font_secondary;
  font-size: 18px;
  line-height: 1;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s;
  text-decoration: none;
  &:hover {
    background: lighten(#291d7f, 10%);
  }
}
.header {
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  padding: 20px 0;
  position: absolute;
  z-index: 2;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu-icon {
    padding: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &-inner {
      display: inline-block;
      width: 100%;
      height: 3px;
      background: #fff;
    }
  }
  &--light {
    background: #fff;
    .header {
      &__menu-icon {
        &-inner {
          background: #000;
        }
      }
    }
  }
}
body.menu-active {
  overflow: hidden;
}
.menu {
  position: fixed;
  z-index: 4;
  pointer-events: none;
  opacity: 0;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s ease-in-out 0.3s;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  &__close {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    text-align: right;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0s;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
    .menu {
      &__close {
        opacity: 1;
        transition: opacity 0.5s ease-in-out 0.7s;
      }
      &__content {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.7s ease-in-out 0.7s;
      }
      &__nav {
        border-color: #fff;
        transition: all 0.5s ease-in-out 0.7s;
        &-item {
          opacity: 1;
          transform: translateY(0);
          transition: all 0.7s ease-in-out 0.7s;
          &:nth-child(2) {
            transition-delay: 0.8s;
          }
          &:nth-child(3) {
            transition-delay: 0.9s;
          }
          &:nth-child(4) {
            transition-delay: 1s;
          }
          &:nth-child(5) {
            transition-delay: 1.1s;
          }
          &:nth-child(6) {
            transition-delay: 1.2s;
          }
        }
      }
    }
  }
  &__nav {
    counter-reset: menu-items;
    list-style: none;
    padding-right: 100px;
    border-right: 1px solid #000;
    transition: all 0.3s ease-in-out 0s;
    height: 100%;
    &-list {
      padding: 0;
      margin: 0;
    }
    &-item {
      opacity: 0;
      transform: translateY(25px);
      transition: all 0.3s ease-in-out 0s;
      list-style: none;
      &:first-child {
        .menu__nav-link {
          margin-top: 0;
        }
      }
    }
    &-link {
      font-size: 55px;
      text-decoration: none;
      font-weight: 400;
      line-height: 1.1;
      margin: 15px 0;
      display: inline-block;
      &:after {
        content: "";
        display: block;
        width: calc(100% - 90px);
        margin-left: 90px;
        height: 3px;
        margin-top: 5px;
        background: currentColor;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out 0s;
        transform-origin: left;
      }
      &:before {
        counter-increment: menu-items;
        content: counter(menu-items) ". ";
        font-size: 40px;
        margin-right: 50px;
      }
      &:hover {
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
  &__content {
    opacity: 0;
    transform: translateY(25px);
    padding-left: 100px;
    height: 100%;
    font-size: 36px;
    transition: all 0.3s ease-in-out 0s;
  }
  &__address {
    font-style: normal;
    font-weight: 400;
  }
  &__email {
    margin-top: 40px;
    display: block;
    text-decoration: none;
    font-weight: 600;
  }
  @include in_size($mobile) {
    flex-wrap: wrap;
    padding: 20px;
    justify-content: flex-start;
    overflow-y: scroll;
    &__close {
      font-size: 20px;
    }
    &__nav {
      border-right: none;
      border-bottom: 1px solid #000;
      padding: 0 0 20px;
      flex: 0 1 100%;
      height: auto;
      &-list {
        margin: 20px 0 0;
      }
      &-link {
        margin: 8px 0;
        font-size: 25px;
        &:before {
          margin-right: 20px;
          font-size: 16px;
        }
        &:after {
          margin-left: 40px;
          width: calc(100% - 40px);
        }
      }
    }
    &__content {
      font-size: 20px;
      height: auto;
      padding: 20px 0 0;
      flex: 0 1 100%;
    }
  }
}

.footer {
  padding: 40px 0;
  color: #fff;
  background: $colour_primary;
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 25px;
    .footer {
      &__col {
        flex: 0 1 auto;
      }
    }
  }
  &__bottom {
    display: flex;
    p {
      font-size: 14px;
      white-space: nowrap;
      + p {
        margin-left: 20px;
      }
    }
  }
  &__col {
    flex: 0 1 50%;
    &--social {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 100%;
    }
    &--logo {
      display: flex;
      justify-content: center;
      padding: 25px 0;
    }
    &--address {
      p {
        font-size: 16px;
      }
    }
    h3 {
      @include title_style();
      font-size: 35px;
    }
  }
  &__social {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 35px;
  }
  &__logo {
  }
  @include in_size($xxs) {
    &__bottom {
      flex-wrap: wrap;
    }
  }
}

.body-wrapper {
  transition: opacity 0.5s ease-in-out 0s;
  opacity: 1;
}

body.fade-out {
  .body-wrapper {
    opacity: 0;
  }
}

.page {
  &__content {
    color: #fff;
  }
}

.split-content-strip {
  [class*="__title"],
  [class*="__subtitle"] {
    flex: 0 1 51%;
    @include in_size($xs) {
      flex: 0 1 100%;
    }
    @include in_size($xxs) {
      flex: 0 1 100%;
    }
  }
  [class*="__title-wrapper"],
  [class*="__subtitle-wrapper"] {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  h3[class*="__title"] {
    margin: 0 0 10px;
    padding: 0 0 5px;
    font-size: 60px;
    font-weight: 900;
    background-size: cover;
    background-position: bottom right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hp-fade-in 0.5s ease-in-out 0.5s;
    animation-fill-mode: forwards;
    background-image: linear-gradient(
      75deg,
      rgba(254, 205, 235, 1) 0%,
      rgba(9, 9, 121, 1) 45%,
      rgba(51, 221, 255, 1) 100%
    );
    @include in_size($xxs) {
      font-size: 45px;
    }
    @include in_size($xxxs) {
      font-size: 35px;
    }
  }
  [class*="__title-wrapper"] {
    justify-content: flex-start;
  }
}

.scrollwatch {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.3s;
  &.delay {
    transition-delay: 0.7s;
  }
  &.scrolled {
    opacity: 1;
  }
}
