@import "fonts.scss";

html {
  font-family: $font_primary;
  font-weight: $font-weight_light;
  font-size: 20px;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_primary;
  font-weight: 500;
}

a {
  color: inherit;
}

.header {
  display: block;
  padding: 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  &__logo {
    width: 100px;
    display: inline-block;
    svg {
      max-width: 100%;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    flex: 0 1 100%;
  }
  &__title {
    text-align: center;
    path {
      transition: $body_transition;
    }
    &:hover {
      path {
        fill: $colour_secondary;
      }
    }
  }
  &__nav {
    text-align: right;
    &-link {
      margin: 0 15px;
      color: #fff;
      text-decoration: none;
      font-family: $font_secondary;
      font-size: 20px;
      font-weight: 200;
      transition: $body_transition;
      position: relative;
      padding-bottom: 10px;
      &:after {
        transition: $body_transition;
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        background: $colour_secondary;
        left: 0;
        bottom: 0;
        transform-origin: center left;
      }
      &:hover {
        color: $colour_secondary;
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
  @include in_size($mobile) {
    padding: 20px 15px;
  }
}

.scrollwatch.delay {
  transition-delay: 0.5s;
}

.footer {
  padding: 40px 0;
  color: #fff;
  background: $colour_primary;
  &__top {
    display: flex;
    align-items: flex-end;
  }
  &__bottom {
    p {
      font-size: 14px;
    }
  }
  &__col {
    flex: 0 1 50%;
    &--social {
      display: flex;
      justify-content: flex-end;
    }
    &--logo {
      display: flex;
      justify-content: center;
      padding: 25px 0;
    }
    h3 {
      @include title_style();
      font-size: 35px;
    }
  }
  &__social {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 35px;
  }
  &__logo {
    width: 100px;
    display: inline-block;
    svg {
      max-width: 100%;
    }
    .text,
    .border {
      transition: $body_transition;
    }
    &:hover {
      .text {
        fill: $colour_secondary;
      }
      .border {
        stroke: $colour_secondary;
      }
    }
  }
}

.body-wrapper {
  transition: opacity 0.5s ease-in-out 0s;
  opacity: 1;
}

body.fade-out {
  .body-wrapper {
    opacity: 0;
  }
}

.bg {
  &-performance-marketing {
    background: $colour_perf;
  }
  &-branded-content {
    background: $colour_brand;
  }
  &-strategic-digital-marketing {
    background: $colour_influence;
  }
  &-digital-publishing {
    background: $colour_social;
  }
}
