@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?e1606g");
  src: url("fonts/icomoon.eot?e1606g#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?e1606g") format("truetype"),
    url("fonts/icomoon.woff?e1606g") format("woff"),
    url("fonts/icomoon.svg?e1606g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-check:before {
  content: "\f00c";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-instagram:before {
  content: "\ea92";
}
