@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?arj970");
  src: url("fonts/icomoon.eot?arj970#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?arj970") format("truetype"),
    url("fonts/icomoon.woff?arj970") format("woff"),
    url("fonts/icomoon.svg?arj970#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-linkedin:before {
  content: "\eaca";
}
