.header-image {
  overflow: hidden;
  position: relative;
  color: #fff;
  transition: color $body_transition;
  background-size: cover;
  background-repeat: no-repeat;
  .container,
  &__wrapper {
    height: 100%;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    opacity: 1;
    font-size: 88px;
    line-height: 1;
  }
  @include in_size($md) {
    &__text {
      max-width: 50%;
    }
  }
  @include in_size($mobile) {
    &__text {
      font-size: 40px;
    }
  }
}

html.webp {
  .header-image {
    background-image: url("/images/blur.webp");
  }
}

html:not(.webp) {
  .header-image {
    background-image: url("/images/blur.png");
  }
}
