.header-image {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: #000;
      opacity: 0.5;
      mix-blend-mode: multiply;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
  }
  &__content {
    flex: 0 1 50%;
  }
  &__title {
    margin: 0 0 35px;
    font-size: 50px;
    opacity: 0;
    transition-delay: 1.5s;
    &:after {
      content: "";
      display: block;
      width: 140px;
      height: 2px;
      background: currentColor;
      margin-top: 35px;
    }
  }
  &__link {
    opacity: 0;
    transition-delay: 2s;
    @include link_style();
  }
}

body.loaded {
  .header-image {
    &__title,
    &__link {
      opacity: 1;
    }
  }
}
