.body--home {
  .header {
    display: none;
  }
}

.home-panel {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #000;
  color: #fff;
  text-decoration: none;
  &__title {
    display: flex;
    align-items: flex-end;
    &:hover {
      .home-panel__link:after {
        transform: translateX(10px);
      }
    }
  }
  &__text,
  &__logo,
  &__link {
    animation: fade-in 0.5s ease-in-out 0s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &__text {
    animation-delay: 0.5s;
    font-size: 20px;
    line-height: 0.7;
  }
  &__logo {
    animation-delay: 1s;
    margin-left: 20px;
    display: inline-block;
    svg {
      float: left;
    }
  }
  &__link {
    @include link_style();
    align-self: center;
    animation-delay: 1.5s;
    animation-duration: 1s;
    margin-left: 10px;
    &:before {
      width: 200px;
    }
  }
  @include in_size($xxs) {
    &__title {
      flex-wrap: wrap;
    }
    &__link {
      flex: 0 1 100%;
      margin: 20px 0 0;
      &:before {
        margin-left: 0;
      }
    }
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
