.panels {
  height: 100vh;
  position: relative;
  &__nav {
    position: absolute;
    bottom: 150px;
    z-index: 2;
    width: 100%;
    transition: opacity 0.2s ease-in-out 0s;
    &-wrapper {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
    &-item {
      display: block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      flex: 0 0 20px;
      margin: 0 5px;
      border: 1px solid #fff;
      cursor: pointer;
      &--active {
        background: #fff;
      }
    }
    &.blocked {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.panel {
  display: flex;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
  &--active {
    transition: all 0.5s ease-in-out 0.5s;
    opacity: 1;
  }
  &--intro {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    background-size: contain;
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #1b0475;
      opacity: 0.69;
      z-index: 1;
    }
    @at-root html.webp {
      .panel--intro {
        background-image: url("/images/circle.webp");
      }
    }
    @at-root html:not(.webp) {
      .panel--intro {
        background-image: url("/images/circle.png");
      }
    }
    .panel {
      &__content {
        position: relative;
        z-index: 2;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        h1 {
          font-size: 72px;
          span {
            opacity: 0;
            display: block;
            transition: opacity 0.8s ease-in-out 0s;
          }
        }
      }
    }
    &.panel--active {
      .panel {
        &__content {
          h1 span {
            opacity: 1;
            transition: opacity 0.8s ease-in-out 1s;
            &:nth-child(2) {
              transition-delay: 1800ms;
            }
            &:nth-child(3) {
              transition-delay: 2600ms;
            }
          }
        }
      }
    }
  }
  &--about {
    background-color: #fc3a52;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    @at-root html.webp {
      .panel--about {
        background-image: url("/images/wave.webp");
      }
    }
    @at-root html:not(.webp) {
      .panel--about {
        background-image: url("/images/wave.png");
      }
    }
    .panel {
      &__content {
        position: relative;
        z-index: 2;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        h2 {
          position: absolute;
          top: 50%;
          margin: 0;
          transform: translateY(-50%);
          font-size: 280px;
          opacity: 0;
        }
        h3 {
          margin: 40px 0 0;
          font-size: 68px;
          line-height: 1;
          opacity: 0;
        }
        h2,
        h3 {
          transition: opacity 0.8s ease-in-out 0s;
        }
      }
    }
    &.panel--active {
      .panel {
        &__content {
          h2 {
            opacity: 0.3;
            transition: opacity 0.8s ease-in-out 1s;
          }
          h3 {
            opacity: 1;
            transition: opacity 0.8s ease-in-out 2s;
          }
        }
      }
    }
  }
  &--say {
    background-color: #291d7f;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    @at-root html.webp {
      .panel--say {
        background-image: url("/images/blur.webp");
      }
    }
    @at-root html:not(.webp) {
      .panel--say {
        background-image: url("/images/blur.png");
      }
    }
    .panel {
      &__content {
        position: relative;
        z-index: 2;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        mix-blend-mode: overlay;
        h2 {
          margin: 0;
          font-size: 200px;
          line-height: 1;
          opacity: 0;
          transition: opacity 0.8s ease-in-out 0s;
        }
      }
    }
    &.panel--active {
      .panel {
        &__content {
          h2 {
            opacity: 1;
            transition: opacity 0.8s ease-in-out 1s;
          }
        }
      }
    }
  }
  &--contact {
    background-color: #291d7f;
    background-size: cover;
    background-repeat: no-repeat;
    @at-root html.webp {
      .panel--contact {
        background-image: url("/images/laptop.webp");
      }
    }
    @at-root html:not(.webp) {
      .panel--contact {
        background-image: url("/images/laptop.png");
      }
    }
    .panel {
      &__content {
        position: relative;
        z-index: 2;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        h2 {
          position: absolute;
          top: 50%;
          margin: 0;
          transform: translateY(-50%);
          font-size: 90px;
          opacity: 0;
          transition: opacity 0.8s ease-in-out 0s;
        }
      }
    }
    &.panel--active {
      .panel {
        &__content {
          h2 {
            opacity: 1;
            transition: opacity 0.8s ease-in-out 1s;
          }
        }
      }
    }
  }
}
