.body--home {
  .header {
    position: absolute;
    background: none;
    z-index: 3;
  }
}

.home-panel {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background: #000;
  color: #fff;
  h1 {
    font-size: 90px;
    span {
      display: block;
      animation: fade-in 0.5s ease-in-out 0s;
      animation-fill-mode: forwards;
      color: #000;
      &.two,
      &.four {
        font-weight: 900;
        font-family: $font_secondary;
        animation-duration: 1s;
      }
      &.one {
        animation-delay: 0.5s;
      }
      &.two {
        animation-delay: 1.2s;
      }
      &.three {
        animation-delay: 2s;
      }
      &.four {
        animation-delay: 2.8s;
      }
    }
    @supports (mix-blend-mode: lighten) {
      display: inline-block;
      position: relative;
      mix-blend-mode: lighten;
      color: #fff;
      background: #000;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          75deg,
          rgba(254, 205, 235, 1) 0%,
          rgba(9, 9, 121, 1) 45%,
          rgba(51, 221, 255, 1) 100%
        );
        mix-blend-mode: multiply;
      }
    }
  }
  .button {
    opacity: 0;
    animation: o-fade-in 0.5s ease-in-out 3.8s;
    animation-fill-mode: forwards;
  }
}

@keyframes fade-in {
  from {
    color: #000;
  }
  to {
    color: #fff;
  }
}

@keyframes o-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
