.intro-panel {
  color: $colour_primary;
  background: #fff;
  padding: 150px 0;
  position: relative;
  overflow: hidden;
  &__title {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    flex: 0 1 40%;
    padding: 0 35px 0 65px;
    line-height: 1.2;
  }
  &__text {
    flex: 0 1 60%;
    padding-left: 50px;
    font-weight: 300;
    font-size: 26px;
  }
  &__title,
  &__text {
    position: relative;
    z-index: 2;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
  }
  &__curve {
    position: absolute;
    bottom: 0;
    @include svg_path_animate(985);
    svg {
      float: left;
    }
    path {
      stroke: $colour_accent;
    }
  }
  &--curve {
    &-right,
    &-center {
      .intro-panel {
        &__title {
          display: flex;
          &:before {
            content: "";
            width: 24px;
            flex: 0 0 24px;
            height: 44px;
            display: inline-block;
            background: url("/images/link_arrow.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 10px 20px 0 0;
            transform: translateX(-10px);
            opacity: 0;
            transition: all 0.5s ease-in-out 1s;
          }
          &.scrolled {
            &:before {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
      }
    }
    &-right {
      .intro-panel {
        &__curve {
          right: 0;
        }
      }
    }
    &-left {
      .intro-panel {
        &__curve {
          left: 0;
          transform: rotate(90deg);
          max-height: 80%;
        }
      }
    }
    &-center {
      .intro-panel {
        &__wrapper {
          position: relative;
        }
        &__curve {
          right: 15%;
          top: 0;
        }
      }
    }
  }
  @include in_size($mobile) {
    padding: 40px 0;
    &__wrapper {
      flex-wrap: wrap;
    }
    &__title,
    &__text {
      flex: 0 1 100%;
      padding: 0;
    }
    &__title {
      margin-bottom: 25px;
      font-size: 40px;
      &:before {
        margin-top: 4px !important;
      }
    }
    &__text {
      font-size: 22px;
    }
  }
}
