.sectors-strip {
  position: relative;
  overflow: hidden;
  &__top {
    min-height: 100vh;
    background-image: url("/images/laptop-floor.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }
  &__item {
    font-size: 50px;
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    a {
      text-decoration: none;
    }
    &:after {
      margin-top: 10px;
      content: "";
      height: 3px;
      display: block;
      background: #fff;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out 0s;
    }
    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
  }
  &__title-wrapper {
    flex-wrap: wrap;
    @include in_size($sm) {
      padding-left: 50px;
    }
  }
  &__title-wrapper,
  &__content {
    position: relative;
    z-index: 2;
  }
  &__title {
    font-family: $font_primary;
    font-weight: 500;
    margin: 0;
    font-size: 60px;
    display: inline-flex;
    align-items: center;
    color: $colour_med_grey;
    &:before {
      content: "";
      width: 24px;
      height: 44px;
      display: block;
      background: url("/images/link_arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 20px;
      transform: translateX(-10px);
      opacity: 0;
      transition: all 0.5s ease-in-out 1s;
    }
    &.scrolled {
      &:before {
        transform: translateX(0);
        opacity: 1;
      }
    }
    &-wrapper {
      display: flex;
      flex: 0 1 50%;
    }
  }
  &__type,
  &__definition {
    margin: 0;
    &-wrapper {
      display: flex;
      flex: 0 1 100%;
    }
  }
  &__type {
    font-style: italic;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
  }
  &__definition {
    padding-right: 100px;
    font-size: 26px;
    p {
      margin: 0;
    }
  }
  &__sector {
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #070606;
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      position: relative;
      align-items: flex-start;
      padding: 100px 0;
    }
    &--methodology {
      color: #fff;
      .sectors-strip {
        &__sector {
          &-wrapper {
            justify-content: space-between;
          }
        }
        &__title {
          color: #fff;
        }
        &__title-wrapper {
          flex: 0 1 40%;
        }
        &__curve {
          left: 50px;
          bottom: 0;
          opacity: 0.2;
        }
        &__bg {
          left: 0;
          width: calc(43.5% + 50px);

          height: 100%;
          &:before {
            background: #070606;
          }
        }
      }
    }
    &--strategy {
      background: #fff;
      .sectors-strip {
        &__curve {
          left: 50px;
          bottom: -100px;
          transform: rotate(90deg);
          path {
            stroke: $colour_accent;
          }
        }
      }
    }
    &--content {
      color: #fff;
      .sectors-strip {
        &__sector-wrapper {
          padding: 250px 0;
          position: static;
          align-items: center;
        }
        &__title-wrapper {
          flex: 0 1 30%;
        }
        &__title {
          color: #fff;
        }
        &__content {
          flex: 0 1 70%;
        }
        &__bg {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          &:before {
            background: $colour_med_grey;
          }
        }
        &__curve {
          right: 0;
          bottom: 0;
          opacity: 0.2;
          @include svg_path_animate(985, 1.5s);
        }
      }
    }
    &--creative {
      background: #fff;
      .sectors-strip {
        &__curve {
          left: 50px;
          bottom: 0;
          path {
            stroke: $colour_accent;
          }
        }
      }
    }
    &--technology {
      color: #fff;
      .sectors-strip {
        &__curve {
          left: 50px;
          bottom: 200px;
          @include svg_path_animate(1942, 1.5s);
        }
        &__title {
          color: #fff;
        }
        &__bg {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          &:before {
            background: #070606;
          }
        }
      }
    }
    &--methodology,
    &--strategy,
    &--creative {
      .sectors-strip {
        &__curve {
          @include svg_path_animate(773);
        }
      }
    }
  }
  &__bg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      opacity: 0.85;
      mix-blend-mode: multiply;
    }
  }
  &__content {
    flex: 0 1 50%;
    font-size: 26px;
    font-weight: 300;
    img {
      margin-top: 40px;
      display: inline-block;
      vertical-align: middle;
      + img {
        margin-left: 10px;
      }
    }
  }
  &__curve {
    position: absolute;
    svg {
      float: left;
    }
  }
  @include in_size($sm-only) {
    &__content {
      font-size: 24px;
    }
    &__sector {
      &--content {
        .sectors-strip {
          &__title-wrapper {
            flex: 0 1 35%;
          }
          &__content {
            flex: 0 1 65%;
          }
        }
      }
    }
  }
  @include in_size($mobile) {
    &__type,
    &__definition {
      padding: 0;
      flex: 0 1 100%;
    }
    &__title {
      flex: 0 1 100%;
      font-size: 30px;
      margin: 0 0 25px;
      &-wrapper {
        flex: 0 1 100% !important;
      }
    }
    &__item {
      font-size: 35px;
    }
    &__content {
      flex: 0 1 100% !important;
      font-size: 20px;
    }
    &__sector {
      &-wrapper {
        padding: 40px 0 !important;
      }
    }
  }
}

html.webp {
  .sectors-strip {
    &__sector {
      &--methodology {
        .sectors-strip {
          &__bg {
            background-image: url("/images/meeting_pointing.webp");
          }
        }
      }
      &--content {
        .sectors-strip {
          &__bg {
            background-image: url("/images/clifton.webp");
          }
        }
      }
      &--technology {
        .sectors-strip {
          &__bg {
            background-image: url("/images/tech.webp");
          }
        }
      }
    }
  }
}

html:not(.webp) {
  .sectors-strip {
    &__sector {
      &--methodology {
        .sectors-strip {
          &__bg {
            background-image: url("/images/meeting_pointing.jpg");
          }
        }
      }
      &--content {
        .sectors-strip {
          &__bg {
            background-image: url("/images/clifton.jpg");
          }
        }
      }
      &--technology {
        .sectors-strip {
          &__bg {
            background-image: url("/images/tech.jpg");
          }
        }
      }
    }
  }
}
