.sectors-strip {
  position: relative;
  overflow: hidden;
  &__top {
    min-height: 100vh;
    background-image: url("/images/laptop-floor.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }
  &__item {
    font-size: 50px;
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    a {
      text-decoration: none;
    }
    &:after {
      margin-top: 10px;
      content: "";
      height: 3px;
      display: block;
      background: #fff;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out 0s;
    }
    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
  }
  &__title-wrapper {
    flex-wrap: wrap;
  }
  &__title {
    font-family: $font_primary;
    font-weight: 400;
    margin: 0;
  }
  &__type,
  &__definition {
    margin: 0;
    flex: 0 1 30%;
    &-wrapper {
      display: flex;
      flex: 0 1 100%;
    }
  }
  &__type {
    font-style: italic;
    font-size: 16px;
    margin-top: 20px;
  }
  &__definition {
    padding-right: 100px;
  }
  &__sector {
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    &:nth-child(even) {
      background: $colour_dark_grey;
    }
    &:nth-child(odd) {
      background: #fff;
      color: $colour_dark_grey;
    }
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
  &__title {
    flex: 0 1 60%;
    font-size: 60px;
    &-wrapper {
      display: flex;
      flex: 0 1 100%;
    }
  }
  &__content {
    flex: 0 1 50%;
    img {
      margin-top: 40px;
      display: inline-block;
      vertical-align: middle;
      @include in_size($md) {
        max-width: 70%;
        margin: 40px auto 0;
      }
      + img {
        margin-left: 10px;
      }
    }
  }
  &__close {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 3;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
    &.active {
      transition: opacity 0.3s ease-in-out 0.75s;
      opacity: 1;
      pointer-events: auto;
    }
  }
  @include in_size($md-only) {
    &__content {
      flex: 0 1 55%;
    }
  }
  @include in_size($mobile) {
    &__title {
      flex: 0 1 100%;
      font-size: 30px;
      margin: 0 0 25px;
    }
    &__item {
      font-size: 35px;
    }
    &__content {
      flex: 0 1 100%;
      font-size: 17px;
    }
  }
}
