.stats-strip {
  padding: 100px 0;
  background: #19036c;
  color: #fff;
  &__wrapper {
    display: flex;
  }
  &__content {
    flex: 0 1 50%;
    padding-right: 50px;
    h2 {
      font-size: 100px;
      font-weight: 600;
      margin: 0 0 50px;
    }
    p {
      font-size: 22px;
      line-height: 1.4;
    }
  }
  &__stats {
    flex: 0 1 50%;
    padding-left: 50px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out 1.2s;
    &.scrolled {
      opacity: 1;
    }
  }
  &__stat {
    display: flex;
    align-items: center;
    h3 {
      margin-left: 20px;
      font-size: 48px;
      line-height: 1;
      strong {
        display: block;
        color: #06a48d;
      }
    }
  }
}
