.stats-strip {
  background: #fff;
  padding: 0;
  &__title {
    font-size: 55px;
    display: flex;
    margin-top: 0;
    &:before {
      content: "";
      width: 34px;
      height: 44px;
      display: inline-block;
      background: url("/images/link_arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 7px 20px 0 0;
      transform: translateX(-10px);
      opacity: 0;
      transition: all 0.5s ease-in-out 1s;
    }
    &.scrolled {
      &:before {
        transform: translateX(0);
        opacity: 1;
      }
    }
    @include in_size($md) {
      max-width: 60%;
    }
  }
  &__subtitle {
    padding-left: 35px;
  }
  &__top {
    padding: 120px 0;
    background-image: url("/images/tech.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    strong {
      font-weight: 500;
      font-family: $font_primary;
    }
    .container {
      position: relative;
      z-index: 2;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $colour_primary;
      opacity: 0.85;
      mix-blend-mode: multiply;
      display: block;
    }
  }
  &__list {
    padding: 150px 0;
    &-row {
      display: flex;
      justify-content: center;
      &--second {
        margin-top: 250px;
        padding: 0 100px;
        .stats-strip__item {
          &-curve {
            svg {
              transform: rotate(180deg);
              transform-origin: center;
            }
          }
        }
      }
    }
  }
  &__item {
    flex: 0 1 auto;
    position: relative;
    margin: 0 200px;
    &-title,
    &-text {
      margin: 0;
    }
    &-title {
      font-size: 40px;
      white-space: nowrap;
    }
    &-text {
      font-size: 30px;
      color: $colour_med_grey;
      font-weight: 400;
      padding-right: 30px;
    }
    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-curve{
      @include svg_path_animate(520);
    }
  }
}
