.team-strip {
  padding-top: 150px;
  background: #fff;
  position: relative;
  overflow: hidden;
  .container,
  &__wrapper {
    position: relative;
    z-index: 2;
  }
  &__title {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    flex: 0 1 40%;
    padding: 0 50px;
    line-height: 1.2;
    display: flex;
    &:before {
      content: "";
      width: 24px;
      flex: 0 0 24px;
      height: 44px;
      display: inline-block;
      background: url("/images/link_arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 10px 20px 0 0;
      transform: translateX(-10px);
      opacity: 0;
      transition: all 0.5s ease-in-out 1s;
    }
    &.scrolled {
      &:before {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  &__text {
    flex: 0 1 60%;
    padding-left: 50px;
    font-weight: 300;
    font-size: 26px;
    p:first-child {
      margin-top: 10px;
    }
  }
  &__title,
  &__text {
    position: relative;
    z-index: 2;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 0 150px;
  }
  &__list {
    display: flex;
  }
  &__item {
    padding: 0 50px;
    flex: 0 1 100%;
    &-image {
      position: relative;
      height: 378px;
      overflow: hidden;
    }
    &-title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background: rgba($colour_accent, 0.8);
      color: #fff;
      margin: 0;
      text-align: center;
    }
    &-desc {
      font-weight: 300;
      font-size: 22px;
    }
  }
  &__curve {
    position: absolute;
    @include svg_path_animate(985);
    svg {
      float: left;
    }
    path {
      stroke: $colour_accent;
    }
    &--top {
      top: 0;
      right: 0;
      transform: rotate(-90deg);
    }
    &--bottom {
      transform: rotate(90deg);
      bottom: 0;
      left: 0;
    }
  }
  @include in_size($md-only) {
    &__list {
      padding: 0 10px;
    }
    &__item {
      padding: 0 40px;
    }
  }
  @include in_size($sm-only) {
    &__list {
      padding: 0 30px;
    }
    &__item {
      padding: 0 20px;
    }
  }
  @include in_size($mobile) {
    padding: 40px 0 0;
    &__list {
      flex-wrap: wrap;
    }
    &__wrapper {
      flex-wrap: wrap;
      margin-bottom: 0;
    }
    &__title,
    &__text {
      flex: 0 1 100%;
      padding: 0;
    }
    &__title {
      margin-bottom: 25px;
      font-size: 40px;
      &:before {
        margin-top: 4px !important;
      }
    }
    &__text {
      font-size: 22px;
    }
    &__item {
      padding: 40px 0;
      &-desc {
        font-size: 20px;
      }
    }
  }
}
