$colour_primary: #212121;
$colour_secondary: #05ffc5;
$colour_light_grey: #f7f7f7;
$colour_dark_grey: #212121;

$font_primary: neue-haas-grotesk-display, sans-serif;
$font_secondary: titling-gothic-fb, sans-serif;
$font-weight_light: 200;
$font-weight_medium: 500;
$font-weight_semibold: 600;

$body_transition: 0.2s ease-in-out 0s;
