.what-people-say {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  @at-root html.webp {
    .what-people-say {
      background-image: url("/images/blur.webp");
    }
  }
  @at-root html:not(.webp) {
    .what-people-say {
      background-image: url("/images/blur.png");
    }
  }
  h1 {
    margin: 0 0 15px;
    color: #fff;
    font-size: 75px;
  }
}
