<!DOCTYPE html>
<html lang="en-gb">
{%-include head.html-%}

<body class="fade-out body--about">
    <div class="body-wrapper">
        {% include_cached header.html light=true %}
        <div id="main" class="scroll-container">
            {%- include header_image.html text=page.header_text image="/images/desk.jpg" link="#intro_panel"-%}
            {%- include intro_panel.html title=page.strip_1.title text=page.strip_1.text curve_position="right"-%}
            {%- include box_strip.html image=page.strip_2.image text=page.strip_2.text-%}
            {%- include_cached team.html -%}
            {%- include_cached stats.html -%}
            {%- include box_strip.html text=page.strip_3.text dark=true-%}
            {%- include_cached brands.html -%}
        </div>
        {%- include_cached footer.html -%}
    </div>
    {%- include foot.html layout=page.layout -%}
</body>

</html>