<!DOCTYPE html>
<html lang="en-gb">
{%-include head.html-%}

<body class="fade-out body--about">
    <div class="body-wrapper">
        {% include_cached header.html light=true %}
        <div id="main" class="scroll-container">
            {%- include about_panel.html text=page.header_text-%}
            {%- include image-strip.html text=page.strip_1.text image=page.strip_1.image-%}
            {%- include_cached team.html -%}
            {%- include_cached stats.html -%}
            {%- include image-strip.html image="/images/people-line.jpg" -%}
            {%- include_cached brands.html -%}
        </div>
        {%- include_cached footer.html -%}
    </div>
    {%- include foot.html layout=page.layout -%}
</body>

</html>