<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta name="robots" content="noindex, nofollow" />
</head>
<body>
    <div class="email-signature" style="width: 650px;font-family: 'Tahoma'">
        <a href="{{site.url}}"><img src="{{site.url}}/images/email-signatures/{{page.title}}.png?new2" alt="{{page.title}}"/></a>
        <p style="font-size: 12px;"><strong>Registered company: {{site.company_number}} - VAT Number:
                {{site.vat_number}}</strong></p>
        <p style="line-height:1"><small style="font-size: 10px">{{site.email_disclaimer}}</small></p>
    </div>
</body>

</html>