<!DOCTYPE html>
<html lang="en-gb">
{%-include head.html-%}

<body class="fade-out body--expertise">
    <div class="body-wrapper">
        {% include_cached header.html %}
        <div id="main" class="scroll-container">
            {%- include header_image.html title=page.header_title text=page.header_text-%}
            {%- include image-strip.html text=page.strip_1.text image=page.strip_1.image-%}
            {%- include header_image-not-h1.html title=page.strip_2.title text=page.strip_2.text-%}
            {%- include sectors.html -%}
            {%- include contact_strip.html text="Ready to change your marketing game?" link_text="Find out what we can do for you" -%}
        </div>
        {%- include_cached footer.html -%}
    </div>
    {%- include foot.html layout=page.layout -%}
</body>

</html>