<!DOCTYPE html>
<html lang="en-gb">
{%-include head.html-%}

<body class="fade-out body--featured">
    <div class="body-wrapper" style="background-color: {{page.colour}};">
        {% include_cached header.html %}
        <div id="main" class="scroll-container">
            {%- include header_image.html title=page.title text=page.header_text colour=page.contrast_colour-%}
            <div class="featured-image">
                <div class="container">
                    {% include picture.html url=page.featured_image alt=page.title%}
                </div>
            </div>
            {% include featured.html brief=page.brief strategy=page.strategy campaign=page.campaign performance=page.performance quote=page.quote image=page.strip_image%}
            {%- include contact_strip.html text="Like our work?" link_text="Find out what we can do for you" -%}
        </div>
        {%- include_cached footer.html -%}
    </div>
    {%- include foot.html layout="featured" -%}
</body>

</html>