<!DOCTYPE html>
<html lang="en-gb">
{%-include head.html-%}

<body class="fade-out body--features">
    <div class="body-wrapper">
        {% include_cached header.html %}
        <div id="main" class="scroll-container">
            {%- include header_image.html title=page.header_title text=page.header_text-%}
            {%- include features.html -%}
        </div>
        {%- include_cached footer.html -%}
    </div>
    {%- include foot.html layout=page.layout -%}
</body>

</html>