<!DOCTYPE html>
<html lang="en-gb">
{%-include head.html-%}

<body class="fade-out body--features">
    <div class="body-wrapper">
        {% include_cached header.html %}
        <div id="main" class="scroll-container">
            {%- include header_image.html image="/images/river.jpg" text=page.header_text link="#strip"-%}
            {%- include intro_panel.html title=page.strip_1.title text=page.strip_1.text curve_position="left"-%}
            {%- include features.html -%}
            {%- include business-sectors.html -%}
        </div>
        {%- include_cached footer.html -%}
    </div>
    {%- include foot.html layout=page.layout -%}
    <script src="/src/slick.min.js"></script>
    <script>
        $('.features-list__list').slick({
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: false,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                    }
                },
                {
                    breakpoint: 531,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    }
                },
            ]
        });
        
    </script>
</body>

</html>